.grid{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.card{
    width: 10rem;
    height: auto;
    display: flex;
    flex-direction: column;

    position: relative;
}

.card>.card-media{
    display: flex;
}

.card>.card-media img{
    width: 100%;
}

.card>.card-text{
    display: flex;
    // padding: 0 1rem 1rem;
    flex-direction: column;
}

.card>.card-text textarea{
    width: 100%;
    box-sizing: border-box;
}

.card>.card-buttons{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    // padding: 0 1rem 1rem;
}